
.gb {
    width: 250px; 
     position: fixed;
    right: 250px;
    top: 60%;
    transform: translateY(-50%); 
  }


.CouponList h1 {
  font-size: 2rem;
  color: #9c2424;
  text-align: center;
  margin: 20px 0;
}



.search-options {
  text-align: center;
  margin: 20px 0;
}

.search-options input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-options select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-options button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-options button:hover {
  background-color: #0056b3;
}

/* סגנון לרשימת הקופונים */
.CouponList .coupon-card {
  margin: 20px auto;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* סגנון להודעת "אין קופונים זמינים" */
.EmptyView {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #777;
}

